<!doctype html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
        body {
            justify-content: center;
            display: flex;
        }
        #wrap {
            flex-basis: 800px;
            margin: 80px;
        }
      </style>
  </head>
  <body>
    <div id="wrap">
      <div class="jumbotron text-center text-primary title">
        <h2><p class="fa fa-warning"></p> Sorry, You can't access to admin page...</h2>
        <h5>Please prove your Indentification again...</h5>
        <a href="/">Go back</a>
    </div>
    </div>
  </body>
</html>